.container {
  width: 900px;
  margin: 1em auto 0 auto;
  padding: 1em;
  background: #dedede;
}

.active {
  background-color: #919191;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-around;
}
ul li {
  width: 20%;

}
button {
  height: 2em;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 1em;
  box-shadow: 10px 10px 10px #fff;
}
